@import url(https://fonts.googleapis.com/css?family=Bangers);

body{
    text-align: center;
    margin: 0 auto;
      background:#ec6a38;
  -webkit-animation:colour 10s linear infinite;
	-moz-animation:colour 10s linear infinite;
  
}
@-webkit-keyframes colour{
	0%{
		background:#ec6a38
	}

	40%{
		background:#ec4038
	}

	80%{
		background:#ec9138
	}

	100%{
		background:#ec6a38
	}

}

@-moz-keyframes colour{
	0%{
		background:#ec6a38
	}

	40%{
		background:#ec4038
	}

	80%{
		background:#ec9138
	}

	100%{
		background:#ec6a38
	}

}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    width: 50%;
}

h1{
    font-size: 400%;
    font-family: 'Bangers';
    letter-spacing: 5px; 
}

label{
    font-size: 150%;
    padding: .5em;
    font-weight: bold;
}

input, select{
    font-size: 140%;
    text-align-last: center;
    opacity: 1%;
    width: 100%;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}


