@import url(https://fonts.googleapis.com/css?family=Bangers);

body{
    text-align: center;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    width: 50%;
}

#survey-submit{
    border-radius: 25%;
    width: 50%;
    margin: 0 auto;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h1 { 
	font: bold 2em monospace;
    color: black;
	border-right: .1em solid black;
	width: calc(0.55em * 14); 
	width: 16ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(14, end), blink-caret .5s step-end infinite alternate;
    font-size: 400%;
    font-family: 'Bangers';
    letter-spacing: 5px;
    margin: 0 auto;
}

label{
    font-size: 150%;
    padding: .5em;
    font-weight: bold;
}

input, select{
    font-size: 140%;
    text-align-last: center;
    opacity: 1%;
    width: 100%;
}

