

body{
    text-align: center; 
    font-family: "Roboto", sans-serif;
    color: #202121;
    background-image: url(/vendor/images/bg.jpg); 
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
    background-position: 40% 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#shadow {
    box-shadow: inset 0 0 0 10000px rgba(0,0,0,.78);
    /* width: 100%; */
    height: 39999px;
    opacity : 1;
    z-index: 1;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    width: 60%;
}

h1{
    font-size: 400%;
    letter-spacing: 5px; 
    color: white;
}

label{
    font-size: 150%;
    padding: .5em;
    font-weight: bold;
    color: white;
}

input, select{
    font-size: 140%;
    text-align-last: center;
    opacity: 1%;
    width: 100%;
}

footer{
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

li{
    color:white;
    list-style-type: none;
}

@media only screen (min-width: 360px and max-width: 736px);