@import url(https://fonts.googleapis.com/css?family=Bangers);

body{
    background-image: url("/images/bridge.jpg");
    background-repeat: none;
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    width: 50%;
}

h1{
    font-size: 400%;
    font-family: 'Bangers';
    letter-spacing: 5px; 
}

label{
    font-size: 150%;
    padding: .5em;
    font-weight: bold;
}

input, select{
    font-size: 140%;
    text-align-last: center;
    opacity: 1%;
    width: 100%;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}


