@-webkit-keyframes typing { from { width: 0; } }
/* @-webkit-keyframes blink-caret { 50% { border-color: transparent; } } */

#flex-wrapper{
    margin-top: 2rem;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    
}

#top-margin{
    padding-top:25px;
}

#faveDisplay{
  font-size: 200%;
  color: white;
  margin: 0 auto;
  width: 40%;
}

#availability-box{
    font-size: 200%;
    color: white;
    margin: 0 auto;
    width: 40%;
}

.availability-li{
    margin-bottom: 2rem;
}

.options{
  margin-top:2rem;
  width:50%; 
  margin:auto; 
  margin-top:50px;
}

.generator{
  height:100%;
  margin-bottom:5rem;

}

.buttons {
    display: inline;
    padding: 0px 25px 0px 25px;
}

#exclaimCircle {
    border-radius: 50%;
    padding: 10px;
    margin-left:0.5rem;
    background: #E21111;
    border: 2px solid #E21111;
    color: white;
    text-align: center;
    font: 64px "Anton", sans-serif;
}

#title-survey{
    font-family: "Roboto", sans-serif;
    color: white;
	border-right: .1em solid black;
	width: calc(0.55em * 14); 
	width: 19ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(14, end), blink-caret .5s step-end infinite alternate;
    font-size: 5rem;
    margin: 0 auto;
    padding-bottom: 2%;
    padding-top: 3%;
}

#yourHandle {
    padding-top:25px;
    margin-top:25px;
    font-size: 510%;
}

.slots{
    font-size: 3em;
}

.slots:hover{
    cursor: pointer;
}

#slot1, #slot2, #slot3{
    border-left: 1px solid red;
    border-right: 1px solid red; 
    background-color: rgba(0, 0, 0, .75);
    padding: 1%;
    color: white;
}

#slot1:hover, #slot2:hover, #slot3:hover{
    box-shadow: 0 0 85px grey;
}

[data-saved="true"] {
    background-color: grey;
    filter: brightness(50%);
}

#survey-submit{
    border-radius: 10%;
    width: 50%;
    margin: 0 auto;
    box-shadow: 10px 5px 5px rgba(0,0,0,.5);
}

#survey-box{
    border: 1px solid lightgray;
    background-color: rgba(0, 0, 0, 0.75);
    margin-bottom: 5rem;
    background-color: rgba(0, 0, 0, .75);
    margin: 0 auto;
    width :50%;
    padding: 2%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#bottom-select{
    margin-bottom: 5%;
}

#handle-div{
    background-color:white;
}

#re-roll{
    width: 50%;
    font-size: 200%;
    border: 1px solid black;
    background-color: lightgrey;
    margin: 0 auto;
    padding: .5%;
    border-radius: 10%; 
    box-shadow: 10px 5px 5px rgba(0,0,0,.5);
}

#re-roll:hover{
    cursor: pointer;
    font-size: 2.5em;
}

#addFav{
    width: 50%;
    font-size: 200%;
    border: 1px solid black;
    background-color: lightgrey;
    margin: 0 auto;
    padding: .5%;
    border-radius: 10%; 
    box-shadow: 10px 5px 5px rgba(0,0,0,.5);
}

#addFav:hover{
    cursor: pointer;
    font-size: 2.5em;
}

#conCatName{
    margin-top: 7%;
}

.about:hover{
    cursor:pointer;
}

.login-submit {
    box-sizing: border-box;
}

#about-kramm{
    border: 1px solid red;
    background-color: rgba(0, 0, 0, .75);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 3%;
    justify-content: column;
}

#about-kramm{
    border: 1px solid red;
    background-color: rgba(0, 0, 0, .75);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 3%;
}

.about-box{
    background-color: rgba(0, 0, 0, .75);
    border: 1px double red;
    padding: 5%; 
}

#about-p{
    color: white;
    font-size: 150%;
    text-align: left;
}

.right{
    float: right;
}

.left{
    float:left;
}
